<% include partials/header %>
<header>
    <h1 id="title">Gopher Language Translation</h1>
    <h2 id="subtitle">Translate English word or sentence into gophers' language.</h2>
</header>
<main>
    <form action="/word" method="POST">
        <input type="text" name="word" placeholder="" autocomplete="off">
        <button type="submit" class="button">Translate</button>
    </form>
</main>

<% include partials/footer %>