<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon end -->
    <title>Gopher translator</title>
    <link href="https://fonts.googleapis.com/css?family=The+Girl+Next+Door&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <script defer src="./src/script.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a id="home" href="./index.html">Home</a></li>
            <li><a id="word" href="./word.html">Word translation</a></li>
            <li><a id="sentence" href="/sentence">Sentence translation</a></li>
            <li><a id="history" class="active" href="./history.html">History</a></li>
        </ul>
    </nav>

    <header>
        <h1 id="title">Gopher Language Translation</h1>
        <h2 id="subtitle" class="big-subtitle">History</h2>
    </header>
    <style>
        header {
            margin: 20px auto;
        }
        .container {
            width: 80%;
            opacity: .95;
        }
    </style>
    <main>
        <div class="container">
            <%  if(history.length>0){  %>
            <% history.forEach(entry => { %>
                    <div class="row history-block">
                        <div class="column word-container">
                            <p>
                                English: <span class="display-word"><%= entry.english %></span>
                            </p>
                        </div>
                        <div class="column">
                            <p class="arrow">
                                &#8658;
                            </p>
                        </div>
                        <div class="column word-container">
                            <p>
                                Gopher: <span class="display-word"><%= entry.gopher %></span>
                            </p>
                        </div>
                    </div>
            <% })%>
            <% } else {%>
                <p>No translations available. The history is empty.</p>
            <% } %>
        </div>
    </main>
    <script>
    document.getElementsByClassName('active')[0].classList.remove("active");
    document.getElementById('history').classList.add("active");
    </script>

    
</body>
</html>